{{!-- Login form --}}

<div class = "container" id = "login">
<div class="row">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group" id="logBtn">
        <button class="btn btn-primary" type="submit" >Login</button>
      </div>
      <p>Don`t have an account? <a href="/signUp">Sign up!</a></p> 
    </form>
  </div>
</div>
</div>
</div>


<script src="./js/login.js"></script>