 {{!-- Signup form --}}
 
 <div class = "container" id = "signUp">
 <div class="login-card" >
    <h2 class="page-title">Signup</h2>
    <form class="signup-form">
      <div class="form-group">
        <label for="name">Username:</label>
        <input class="form-input" type="text" id="name"/>
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup"/>
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup"/>
      </div>
      <div class="form-group" id = "logBtn">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
      </div>
    <p>Already have an account? <a href="/login">Log In</a></p> 
    </div>
    </form>
  </div>
</div>

</div>

<script src="/js/signup.js"></script>